.secondary-component {
  padding: 10px;
  margin: 0px;
  align-self: center;
  justify-content: space-between;
}

.info-description {
  background-color: rgba(128, 0, 128, 0.377);
  border: 5px solid rgba(0, 0, 255, 0.486);
  flex-direction: row;
  width: 13vw;
  height: 20vh;
  text-align: center;


}
