.search-box {
  width: 40%;
  padding-left: 10%;

  .search-bar {
    background-color: transparent;
    border: 1px solid rgb(107, 106, 106);
    border-radius: 6px;
    padding-left: 15px;
    width: 90%;
    height: 1.7rem;
    outline: none;
    
  }
}
