.search-box {
  width: 40%;
  padding-left: 10%;

  .search-bar {
    background-color: rgba(255, 255, 255, 0.404);
    border: 1px solid rgb(107, 106, 106);
    border-radius: 6px;
    padding-left: 17px;
    width: 90%;
    height: 1.9rem;
    outline: none;
    font-size: 17px;

  }
}
