.search-box {
  width: 100%;
  background-color: blue;
  margin: 0 0 75px;
  text-align: center;
  height: 5rem;

  .search-bar {
    position: relative;
    width: 30%;
    appearance: none;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    border: none;
  }
}
